

<div>

    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome">
    <label for="sigla">Sigla:</label>
    <input type="text" name="sigla" id="sigla">
    <button id="btn-Cadastro">Cadastrar Seleção</button>

</div>

<script src="../js/selecoes/cadastro.js"></script>