

<form action="cadastro" method="post">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome"> 
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha">
    <label for="confirm-senha">Confirmar senha: </label>
    <input type="password" name="confirm-senha" id="confirm-senha">
    <button id="btn-cadastro">Cadastrar</button>
</form>

<script src="../js/usuario/cadastro.js"></script>
